<?xml version="1.0" encoding="UTF-8" ?>
<launch>

  <arg name="x" default="8.708" />
  <arg name="y" default="-3.923" />
  <arg name="z" default="0.4869100" />
  <arg name="name" default="coke_can" />

<!-- rosrun gazebo_ros spawn_model -database coke_can -model coke_can2 -sdf -->
          <node name="$(anon urdf_spawner_coke)" pkg="gazebo_ros" type="spawn_model"
	      args="-database coke_can -model $(arg name) -sdf -x $(arg x) -y $(arg y) -z $(arg z) -R 0 -P 0 -Y 0" />
</launch>